<!DOCTYPE html>

<html>
  <head>
    <title>AgendaEscolar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">SI II</a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="fathers">Padres</a></li>
        <li><a href="students">Estudiantes</a></li>
        <li><a href="read_notes">Notas </a></li>
        <li><a href="courses"> Cursos</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav " id="mobile-demo">
    <li><a href="fathers">Padres</a></li>
    <li><a href="students">Estudiantes</a></li>
    <li><a href="read_notes" data-turbolinks="false">Notas </a></li>
    <li><a href="courses"> Cursos</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
